
.main {
    padding: 16px;
    margin: 16px 0 98px;
    text-align: center;
  
    @media (min-width: 769px) {
      max-width: 1024px;
      margin: 0 auto 98px;
      box-sizing: border-box;
      padding: 24px 0;
    }
  
  }