.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 8px 16px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-third--50);

}

.navbar .navbar_logo img,
.navbar .navbar_logo {
  height: 100%;
}

.navbar_button-action {
  cursor: pointer;
  background: none;
  border: 1px solid black;
  color: var(--color-primary);
  border-radius: 8px;

}
