:root {
   --color-primary: #08356c;
   --color-primary--50:#15AED7;
   --color-secundary:#2a821a;
   --color-secundary--50:#6daf7e;
   --color-secundary--100:#276c2b;
   --color-third:#ececec;
   --color-third--50:#9DBAC9;
    
}