.container {
  position: relative;
  width: 100vw;
  height: 200px;
  max-width: 1440px;
  margin: 0 auto;
  
  @media (min-width: 426px) {
    height: auto;
  }
  
  @media (min-width: 769px) {
    height: initial;
    max-height: 461px;
  }
}

.slider_img {
  object-fit: cover;
  width: 100vw;
  height: 200px;
  
  @media (min-width: 426px) {
    height: auto;
  }

  @media (min-width: 769px) {
    height: initial;
    object-fit: contain;
    max-width: 1440px;
    max-height: 461px;
  }
}
